# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django / SQLite
*.sqlite3
db.sqlite3
*.log
*.pot
*.mo

# Environment / Secrets
.env/
venv/
env/

# OS / Editor junk
.DS_Store
*.swp
*.swo
*.bak
*.tmp

# Machine Learning Artifacts
*.pkl
*.h5
*.pt
*.joblib
*.model
trained_knn_model.joblib
trained_knn_model.pkl
